.main {
    padding: 2rem;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.illustration {
    background-image: url('../assets/illustrations/phone.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: auto 600px;
}

.illustration-content {
    margin-top: 3%;
    padding: 10%;
}

.technologies {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon:hover{
    opacity: 0.4;
}